/*                Layouts               */

/* Boilerplate */
.nav {grid-area: nav;}
.main {grid-area: main;}
.footer {grid-area: footer;}

/* Layout */
.page-wrapper{
  display: grid;
  grid-template-rows:auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
  "nav"
  "main"
  "footer"
  ;

  background-color: #121212;
  height: 100vh;
  gap: 1rem;
}



.page-item {
  height: 100%;
  /*width:*/


}