/* Resets annoying browser defaults. */
html * {
  margin:           unset;
  box-sizing:       border-box;
  padding:          unset;
  color:            unset;
  text-decoration:  unset;
}

/* grid-template-areas */
.top {grid-area: top;}
.about {grid-area: about;}
.sidebar {grid-area: sidebar;}
.info {grid-area: info;}

/* Mobile layout */
.grid-wrapper{
  min-height: 100vh;
  display: grid;
  /*
  auto only uses the space required to fit the content
  1fr fills the remaining space after all autos have been filled.
  */
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
  "sidebar"
  "top"
  "about"
  "info"
  ;
}


/* Tablet & Desktop layout */
@media (min-width: 750px) {
  .grid-wrapper{
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "sidebar top top top top"
    "sidebar about about about about"
    "sidebar info info info info"
    ;
  }
  .sidebar {
    flex-direction: row;
  }
}

/* Decorative CSS */

.grid-wrapper > * {
  background-color: #d3d3d3;
  border: 3px solid blue;
  text-align: center;
  font-size: 30px;
  margin: 0.5rem;
}










